{
	"presets": [["@babel/preset-env", { "targets": { "node": "current" } }]],
	"plugins": [
		[
			"wildcard",
			{
				"exts": ["js", "es6", "es", "jsx", "javascript"],
				"nostrip": true,
				"noModifyCase": true
			}
		]
	]
}
